[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/manoj897
[access "refs/for/refs/*"]
	read = group user/manoj897
	push = group user/manoj897
	label-Code-Review = -2..+2 group user/manoj897
	label-Verified = -1..+1 group user/manoj897
	rebase = group user/manoj897
	removeReviewer = group user/manoj897
	submit = group user/manoj897
[access "refs/heads/*"]
	read = group user/manoj897
	create = group user/manoj897
	push = +force group user/manoj897
	pushMerge = group user/manoj897
[access "refs/tags/*"]
	push = +force group user/manoj897
	pushTag = group user/manoj897
	pushSignedTag = group user/manoj897
